LAB1/Listings
LAB1/Objects
*.uvopt
*.bak
*.lukas
LAB2/Listings
LAB2/Objects
LAB2/zad2.uvgui.czerw
LAB3/Listings
LAB3/Objects
LAB2/zad2.uvgui.user
LAB3/Lab3.uvgui.user
LAB3/Lab3.uvgui.czerw
LAB4/Listings
LAB4/Objects
LAB5/Listings
LAB5/Objects
